.container {
  margin: 0 auto;
  @media screen and (min-width: 340px) {
    max-width: 340px;
    min-width: 95%;
    padding: 0 10px;
  }
  @media screen and (min-width: 800px) {
    max-width: 800px;
    min-width: 95%;
    padding: 0 0;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    min-width: auto;
    padding: 0 15px;
  }
  @media screen and (min-width: 1201px) {}
}

.container-header {
  margin: 0 auto;
  @media screen and (min-width: 340px) {
    max-width: 340px;
    min-width: 95%;
  }
  @media screen and (min-width: 800px) {
    max-width: 800px;
    min-width: 95%;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    min-width: auto;
  }
  @media screen and (min-width: 1201px) {}
}

.container-wrapper {
  margin: 0 auto;
  background: #e1e1e1;
  border-radius: 20px;
  @media screen and (min-width: 340px) {
    max-width: 340px;
    min-width: 95%;
  }
  @media screen and (min-width: 800px) {
    max-width: 800px;
    min-width: 95%;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    min-width: auto;
    padding: 0 15px;
  }
  @media screen and (min-width: 1201px) {}
}
